<form class="pendragon knight flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="flexcol">
        <label for="data.hitPoints.value" class="resource-label">Health</label>
        <div class="resource-content">
          <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
        </div>
        </div>
        <div class="flexcol">
          <label for="data.glory.value" class="resource-label">Glory</label>
          <input class="resource-content" type="text" name="data.glory.value" value="{{data.glory.value}}" data-dtype="Number"/>
        </div>
        <div class="flexcol">
          <label for="data.damage.value" class="resource-label rollable" data-damageDice="{{data.damage.value}}">Damage <i class="fas fa-dice"></i> </label>
          <input class="resource-content" type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="statistics">Statistics</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="traits">Traits</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Statistics Tab --}}
    <div class="tab statistics" data-group="primary" data-tab="statistics">
      <section class="">
        <div class="statistics flexcol">
          {{#each data.statistics as |stat key|}}
          <div class="statistic flexrow flex-group-center">
            <label for="data.statistics.{{key}}.value" class="resource-label rollable flexlarge align-left" data-stat="{{key}}" data-label="{{stat.label}}">{{stat.label}}</label>
            <input type="text" name="data.statistics.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
          </div>
          {{/each}}
        </div>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="">
        <div class="skills flexcol">
          <h3>Combat Skills</h3>
          {{#each data.skills.combat as |skill key|}}
          {{#skill}}
          <div class="skill flexrow flex-group-center">
            {{#unless skill.custom}}
            <label for="data.skills.combat.{{key}}.value" class="resource-label rollable flexlarge align-left" data-combatskill="{{key}}" data-label="{{skill.label}}">{{skill.label}}</label>
            {{/unless}}
            {{#if skill.custom}}
            <i class="rollable flexlarge align-left fas fa-dice" data-combatskill="{{key}}"></i>
            <input class="resource-label" type="text" name="data.skills.combat.{{key}}.name" value="{{skill.name}}" data-dtype="String"/>
            {{/if}}
            <input type="text" name="data.skills.combat.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            {{#if skill.hasType}}<input type="text" name="data.skills.combat.{{key}}.type" value="{{skill.type}}" data-dtype="String"/>{{/if}}
            <input type="checkbox" name="data.skills.combat.{{key}}.advancement" {{checked skill.advancement}}/>
            {{#if skill.custom}}
            <i class="skill-delete fas fa-trash" data-deletecombatskill data-skill="{{key}}"></i>
            {{/if}}
          </div>
          {{/skill}}
          {{/each}}
          <a class="">
            {{localize Pendragon.AddSkill}}
            <i class="skill-create fas fa-plus" data-addcombatskill></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="skills flexcol">
          <h3>Non-Combat Skills</h3>
          {{#each data.skills.others as |skill key|}}
          {{#skill}}
          <div class="skill flexrow flex-group-center">
            {{#unless skill.custom}}
            <label for="data.skills.others.{{key}}.value" class="resource-label rollable flexlarge align-left" data-otherskill="{{key}}" data-label="{{skill.label}}">{{skill.label}}</label>
            {{/unless}}
            {{#if skill.custom}}
            <i class="rollable flexlarge align-left fas fa-dice" data-otherskill="{{key}}"></i>
            <input class="resource-label" type="text" name="data.skills.others.{{key}}.name" value="{{skill.name}}" data-dtype="String"/>
            {{/if}}
            <input type="text" name="data.skills.others.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            {{#if skill.hasType}}<input type="text" name="data.skills.others.{{key}}.type" value="{{skill.type}}" data-dtype="String"/>{{/if}}
            <input type="checkbox" name="data.skills.others.{{key}}.advancement" {{checked skill.advancement}}/>
            {{#if skill.custom}}
            <i class="skill-delete fas fa-trash" data-deletenoncombatskill data-skill="{{key}}"></i>
            {{/if}}
          </div>
          {{/skill}}
          {{/each}}
          <a class="">
            {{localize Pendragon.AddSkill}}
            <i class="skill-create fas fa-plus" data-addnoncombatskill></i>
          </a>
        </div>
      </section>
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      <section class="">
        <div class="traits flexcol">
          {{#each data.traits as |traitpair key|}}
          <div class="trait flexrow flex-group-center">
            <label for="data.traits.{{key}}.leftAmount" class="resource-label rollable flexlarge align-left" data-lefttrait="{{key}}" data-label="{{traitPair.leftName}}">{{traitpair.leftLabel}}</label>
            <input type="text" name="data.traits.{{key}}.leftAmount" value="{{traitpair.leftAmount}}" data-dtype="Number"/>
            <input name="data.traits.{{key}}.leftAdvance" type="checkbox" {{checked traitpair.leftAdvance}}/>
            <span>&nbsp;/&nbsp;</span>
            <label for="data.traits.{{key}}.rightAmount" class="resource-label rollable flexlarge align-left" data-righttrait="{{key}}" data-label="{{traitPair.rightName}}">{{traitpair.rightLabel}}</label>
            <input type="text" name="data.traits.{{key}}.rightAmount" value="{{traitpair.rightAmount}}" data-dtype="Number"/>
            <input name="data.traits.{{key}}.rightAdvance" type="checkbox" {{checked traitpair.rightAdvance}}/>
          </div>
          {{/each}}
        </div>
      </section>
    </div>
  </section>
</form>

