<form class="pendragon knight flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="flexcol">
        <label for="data.hitPoints.value" class="resource-label">Health</label>
        <div class="resource-content">
          <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number"/>
        </div>
        </div>
        <div class="flexcol">
          <label for="data.glory" class="resource-label">Glory</label>
          <input class="resource-content" type="text" name="data.glory" value="{{data.glory}}" data-dtype="Number"/>
        </div>
        <div class="flexcol">
          <label for="data.damage" class="resource-label rollable" data-damageDice="{{data.damage}}">Damage <i class="fas fa-dice"></i> </label>
          <input class="resource-content" type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="statistics">Statistics</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="records">Records</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Statistics Tab --}}
    <div class="tab statistics" data-group="primary" data-tab="statistics">
      <section class="">
        <div class="statistics flexcol">
          {{#each data.statistics as |stat key|}}
          <div class="statistic flexrow flex-group-center">
            <label for="data.statistics.{{key}}.value" class="resource-label rollable flexlarge align-left" data-stat="{{key}}" data-label="{{stat.label}}">{{stat.label}}</label>
            <input type="text" name="data.statistics.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
          </div>
          {{/each}}
        </div>
      </section>
      <section>
        <span>{{localize 'Pendragon.healing_rate'}} {{data.healing_rate.value}}</span><br>
        <span>{{localize 'Pendragon.move_rate'}} {{data.move_rate.value}}</span><br>
        <span>{{localize 'Pendragon.unconcious'}} {{data.unconcious}}</span><br>
        <span>{{localize 'Pendragon.initiative'}} {{data.composite_initiative}}</span><br>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="">
        <div class="skills flexcol">
          <h3>Combat Skills</h3>
          {{#each data.skills.combat as |skill key|}}
          {{#skill}}
          <div class="skill flexrow flex-group-center">
            {{#unless skill.custom}}
            <label for="data.skills.combat.{{key}}.value" class="resource-label rollable flexlarge align-left" data-combatskill="{{key}}" data-label="{{skill.label}}">{{skill.label}}</label>
            {{/unless}}
            {{#if skill.custom}}
            <i class="rollable flexlarge align-left fas fa-dice" data-combatskill="{{key}}"></i>
            <input class="resource-label" type="text" name="data.skills.combat.{{key}}.name" value="{{skill.name}}" data-dtype="String"/>
            {{/if}}
            <input type="text" name="data.skills.combat.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            {{#if skill.hasType}}<input type="text" name="data.skills.combat.{{key}}.type" value="{{skill.type}}" data-dtype="String"/>{{/if}}
            <input type="checkbox" name="data.skills.combat.{{key}}.advancement" {{checked skill.advancement}}/>
            {{#if skill.custom}}
            <i class="skill-delete fas fa-trash" data-deletecombatskill data-skill="{{key}}"></i>
            {{/if}}
          </div>
          {{/skill}}
          {{/each}}
          <a class="">
            {{localize 'Pendragon.AddSkill'}}
            <i class="skill-create fas fa-plus" data-addcombatskill></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="skills flexcol">
          <h3>Non-Combat Skills</h3>
          {{#each data.skills.others as |skill key|}}
          {{#skill}}
          <div class="skill flexrow flex-group-center">
            {{#unless skill.custom}}
            <label for="data.skills.others.{{key}}.value" class="resource-label rollable flexlarge align-left" data-otherskill="{{key}}" data-label="{{skill.label}}">{{skill.label}}</label>
            {{/unless}}
            {{#if skill.custom}}
            <i class="rollable flexlarge align-left fas fa-dice" data-otherskill="{{key}}"></i>
            <input class="resource-label" type="text" name="data.skills.others.{{key}}.name" value="{{skill.name}}" data-dtype="String"/>
            {{/if}}
            <input type="text" name="data.skills.others.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            {{#if skill.hasType}}<input type="text" name="data.skills.others.{{key}}.type" value="{{skill.type}}" data-dtype="String"/>{{/if}}
            <input type="checkbox" name="data.skills.others.{{key}}.advancement" {{checked skill.advancement}}/>
            {{#if skill.custom}}
            <i class="skill-delete fas fa-trash" data-deletenoncombatskill data-skill="{{key}}"></i>
            {{/if}}
          </div>
          {{/skill}}
          {{/each}}
          <a class="">
            {{localize 'Pendragon.AddSkill'}}
            <i class="skill-create fas fa-plus" data-addnoncombatskill></i>
          </a>
        </div>
      </section>
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      <section class="">
        <div class="traits flexcol">
          {{#each data.traits as |traitpair key|}}
          <div class="trait flexrow flex-group-center">
            <label for="data.traits.{{key}}.leftAmount" class="resource-label rollable flexlarge align-left" data-lefttrait="{{key}}" data-label="{{traitPair.leftName}}">{{traitpair.leftLabel}}</label>
            <input type="text" name="data.traits.{{key}}.leftAmount" value="{{traitpair.leftAmount}}" data-dtype="Number"/>
            <input name="data.traits.{{key}}.leftAdvance" type="checkbox" {{checked traitpair.leftAdvance}}/>
            <span>&nbsp;/&nbsp;</span>
            <label for="data.traits.{{key}}.rightAmount" class="resource-label rollable flexlarge align-left" data-righttrait="{{key}}" data-label="{{traitPair.rightName}}">{{traitpair.rightLabel}}</label>
            <input type="text" name="data.traits.{{key}}.rightAmount" value="{{traitpair.rightAmount}}" data-dtype="Number"/>
            <input name="data.traits.{{key}}.rightAdvance" type="checkbox" {{checked traitpair.rightAdvance}}/>
          </div>
          {{/each}}
        </div>
      </section>
    </div>

    {{!-- Household Tab --}}
    <div class="tab records" data-group="primary" data-tab="records">
      <section>
        {{!-- Glory Rewards --}}
        <h3>{{localize 'Pendragon.GloryAwards.Label'}}</h3>
        {{#each data.gloryRewards as |glory key|}}
          <label for="data.gloryRewards.{{key}}.value" class="resource-label flexlarge align-left">{{glory.label}}</label>
          <input name="data.gloryRewards.{{key}}.value" value="{{glory.value}}" data-dtype="number"/>
        {{/each}}

        <h3>{{localize 'Pendragon.JoustRecord.Label'}}</h3>
        <label for="data.joustRecord.wins.value" class="resource-label flexlarge align-left">{{localize 'Pendragon.Joust.Wins'}}</label>
        <input name="data.joustRecord.wins.value" value="{{data.joustRecord.wins}}" data-dtype="number"/>
        <label for="data.joustRecord.losses.value" class="resource-label flexlarge align-left">{{localize 'Pendragon.Joust.Losses'}}</label>
        <input name="data.joustRecord.losses.value" value="{{data.joustRecord.losses}}" data-dtype="number"/>

        <h3>{{localize 'Pendragon.Holdings.Label'}}</h3>
        <table>
          <tr>
            <th>{{Pendragon.Name}}</th>
            <th>{{Pendragon.Glory}}</th>
            <th></th>
          </tr>
          {{#each data.holdings as |holding key|}}
          {{#holding}}
          <tr>
            <td>
              <input name="data.holdings.{{key}}.name" value="{{holding.name}}" data-dtype="string"/>
            </td>
            <td>
              <input name="data.holdings.{{key}}.glory" value="{{holding.glory}}" data-dtype="number"/>
            </td>
            <td>
              <i class="holdings-delete fas fa-trash" data-holding="{{key}}"></i>
            </td>
          </tr>
          {{/holding}}
          {{/each}}
        </table>
        <span>Total: {{data.holdingsValue}}</span>
        <a class="holdings-create">
          {{localize 'Pendragon.AddHolding'}}
          <i class="fas fa-plus"></i>
        </a>

        <h3>{{localize 'Pendragon.Equipment.Label'}}</h3>
        <h4>{{localize 'Pendragon.Equipment.Money'}}</h4>
        {{#each data.equipment.funds as |amount key|}}
        <label for="data.equipment.funds.{{key}}.value"> {{amount.label}} </label>
        <input name="data.equipment.funds.{{key}}.value" value="{{amount.value}}" data-dtype="number">
        {{/each}}
        <h4>{{localize 'Pendragon.Equipment.Gear'}}</h4>
        {{#each data.equipment.gear_sets as |gearset key|}}
        <label for="data.equipment.gear_sets.{{key}}.horse"> {{localize 'Pendragon.GearSets.HorseNumber'}} </label>
        <input name="data.equipment.gear_sets.{{key}}.horse" value="{{gearset.horse}}" data-dtype="number">
        <label for="data.equipment.gear_sets.{{key}}.description"> {{gearset.label}} </label>
        <input name="data.equipment.gear_sets.{{key}}.description" value="{{gearset.description}}" data-dtype="string">
        <br/>
        {{/each}}
        <label for="data.equipment.clothing.type"> {{localize 'Pendragon.Equipment.Clothes'}} </label>
        <input name="data.equipment.clothing.type" value="{{data.equipment.clothing.type}}" data-dtype="string">
        <label for="data.equipment.clothing.value"> {{localize 'Pendragon.LibraValue'}} </label>
        <input name="data.equipment.clothing.value" value="{{data.equipment.clothing.value}}" data-dtype="number">
        <br/>

        <label for="data.equipment.possessions_at_home">{{localize 'Pendragon.Equipment.AtHome'}}</label>
        <input name="data.equipment.possessions_at_home" value="{{data.equipment.possessions_at_home}}" data-dtype="string"/>

        <h4>{{localize 'Pendragon.Equipment.History'}}</h4>
        <table>
          <tr>
            <th>{{localize 'Pendragon.Year'}}</th>
            <th>{{localize 'Pendragon.ImportantEvents'}}</th>
            <th>{{localize 'Pendragon.Glory'}}</th>
            <th></th>
          </tr>
          {{#each data.history as |hevent key|}}
          {{#hevent}}
          <tr>
            <td><input name="data.history.{{key}}.year" value="{{hevent.year}}" data-dtype="number"></td>
            <td><input name="data.history.{{key}}.description" value="{{hevent.description}}" data-dtype="string"></td>
            <td><input name="data.history.{{key}}.glory" value="{{hevent.glory}}" data-dtype="number"></td>
            <td><i class="history-delete fas fa-trash" data-history="{{key}}"></i></td>
          </tr>
          {{/hevent}}
          {{/each}}
        </table>

        <a class="history-create">
          {{localize 'Pendragon.AddHistory'}}
          <i class="fas fa-plus"></i>
        </a>

        <h4>{{localize 'Pendragon.Army'}}</h4>
        <table>
          {{#each data.army as |count knight_class|}}
          <tr>
            <td>{{knight_class}}</td>
            <td><input name="data.army.{{knight_class}}" value="{{count}}" data-dtype="number"/></td>
          </tr>
          {{/each}}
        </table>

        <h4>{{localize 'Pendragon.Equipment.FamilyHistory'}}</h4>
        <section>
          <label for="data.household.current_year">{{localize 'Pendragon.CurrentYear'}}</label>
          <input name="data.household.current_year" value="{{data.household.current_year}}" data-dtype="number"/>
          <br/>

          <label for="data.household.born">{{localize 'Pendragon.Born'}}</label>
          <input name="data.household.born" value="{{data.household.born}}" data-dtype="number"/>
          <br/>

          <label for="data.household.squired">{{localize 'Pendragon.Squired'}}</label>
          <input name="data.household.squired" value="{{data.household.squired}}" data-dtype="number"/>
          <br/>

          <label for="data.household.knighted">{{localize 'Pendragon.Knighted'}}</label>
          <input name="data.household.knighted" value="{{data.household.knighted}}" data-dtype="number"/>
          <br/>

          <label for="data.household.round_table">{{localize 'Pendragon.RoundTable'}}</label>
          <input name="data.household.round_table" value="{{data.household.round_table}}" data-dtype="number"/>
          <br/>

          <label for="data.household.landed">{{localize 'Pendragon.Landed'}}</label>
          <input name="data.household.landed" value="{{data.household.landed}}" data-dtype="number"/>
          <br/>

          <label for="data.household.ennobled">{{localize 'Pendragon.Ennobled'}}</label>
          <input name="data.household.ennobled" value="{{data.household.ennobled}}" data-dtype="number"/>
          <br/>

          <label for="data.household.wed">{{localize 'Pendragon.Wed'}}</label>
          <input name="data.household.wed" value="{{data.household.wed}}" data-dtype="number"/>
          <br/>

          <label for="data.household.died">{{localize 'Pendragon.Died'}}</label>
          <input name="data.household.died" value="{{data.household.died}}" data-dtype="number"/>
          <br/>

          <label for="data.household.fathers_name">{{localize 'Pendragon.FathersName'}}</label>
          <input name="data.household.fathers_name" value="{{data.household.fathers_name}}" data-dtype="string"/>
          <br/>

          <label for="data.household.class">{{localize 'Pendragon.Class'}}</label>
          <input name="data.household.class" value="{{data.household.class}}" data-dtype="string"/>
          <br/>

          <label for="data.household.sons_glory">{{localize 'Pendragon.SonsGlory'}}</label>
          <input name="data.household.sons_glory" value="{{data.household.sons_glory}}" data-dtype="number"/>
          <br/>

          <label for="data.household.family_wealth">{{localize 'Pendragon.FamilyWealth'}}</label>
          <input name="data.household.family_wealth" value="{{data.household.family_wealth}}" data-dtype="number"/>
          <br/>

          <label for="data.house.family_characteristic">{{localize 'Pendragon.FamilyCharacteristic'}}</label>
          <input name="data.house.family_characteristic" value="{{data.household.family_characteristic.skill}}" data-dtype="string"/>
          <input name="data.house.family_characteristic" value="{{data.household.family_characteristic.bonus}}" data-dtype="number"/>
          <br/>

          <label for="data.household.wife">{{localize 'Pendragon.Wife'}}</label>
          <input name="data.household.wife" value="{{data.household.wife}}" data-dtype="string"/>
          <br/>

          <label for="data.household.lover">{{localize 'Pendragon.Lover'}}</label>
          <input name="data.household.lover" value="{{data.household.lover}}" data-dtype="string"/>
          <br/>

          <label for="data.household.children">{{localize 'Pendragon.Children'}}</label>
          <input name="data.household.children" value="{{data.household.children}}" data-dtype="string"/>
          <br/>

          <label for="data.household.will">{{localize 'Pendragon.Will'}}</label>
          <input name="data.household.will" value="{{data.household.will}}" data-dtype="string"/>
        </section>
      </section>
    </div>
  </section>
</form>

